body {background-color:#eaf6f6;
      color: #1c2b2d; }
hr {border-style: dotted none none;
    width: 5%;
    border-width: 7px;
    border-color: lightgrey;
     }
h1 {color: #66bfbf;}
h3 {color: #66bfbf;}
